@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  padding: 25px 10px;
  color: #3d3d3d;
  overflow-x: hidden;
}

.header_bar {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
}

.inputDate_section {
  margin: 0.5em 1.5em;
  /* margin-bottom: 360px; */
  text-align: center;
}

.timeEntries_section {
  /* padding: 2em; */
  background-color: #ffd294;
  border-radius: 15px;
  box-shadow: 0px 4px 20px #0000004d;
}
.header_title {
  margin: 10px 20px;
}

.m_15 {
  margin: 15px;
}

.centered {
  text-align: center;
}

.auth_button_wrapper {
  text-align: center;
}

.menuButton_wrapper {
  position: absolute;
  display: inline-block;
  top: 50px;
}
