.show {
  width: 250px;
}

.hide {
  width: 0;
}

.sidenav {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000000b4;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav .navTitle {
  padding: 8px 8px 8px 20px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  background-color: unset;
}

.closebutton {
  font-size: 2.4em;
  position: absolute;
  top: 0px;
  left: 205px;
  background-color: unset;
  color: #818181;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}

.sidenav .navTitle,
.sidenav button:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav .navTitle {
    font-size: 18px;
  }
}
